.card {
    overflow: hidden;
    min-height: 400px;
    height: 100%;
    width: 100%;
    border: 1px solid #ffffff2b;
    border-radius: var(--radius-md);
    background-color: #000000;
    color: #ffffff;

    &:hover {
        cursor: pointer;
        background-color: #ffffff00;
    }

    @media only screen and (min-width: 0px) and (max-width: 576px) {
        width: 100%;
    }
}

.summary {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        'featureImage'
        'main';
    row-gap: 18px;

    @media (min-width: 481px) and (max-width: 767px) {
        grid-template-rows: repeat(1, auto);
    }

    @media (min-width: 320px) and (max-width: 480px) {
        grid-template-rows: repeat(1, auto);
    }
}

.summaryImage {
    grid-area: featureImage;
    position: relative;
    padding-bottom: 55%;
    height: 0;
    border-bottom: 1px solid #252626;

    img {
        object-fit: cover;
    }
}

.summaryMain {
    padding: 0 18px;
    grid-area: main;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        'date'
        'title'
        'description';
}

.title {
    grid-area: title;
    font-size: 45px;
    padding: 12px 0;
    position: relative;
}

.description {
    grid-area: description;
    font-size: 16px;
    padding: 14px 0;
}

.date {
    grid-area: date;
}

.footInfo {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 5px 0;

    ul {
        display: flex;

        li {
            list-style: none;
            padding: 0px 8px 0 0;
        }
    }
}