.www-frontend {
  display: flex;
  position: relative;
  .www-frontend-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 15px;
    justify-content: flex-end;
    .www-frontend-cell {
      display: flex;
      position: relative;
      flex-direction: column;
      .www-frontend-element {
        // border: 1px solid rgb(0, 174, 116);
      }
    }
  }
}

// Media Queries
@media (min-width: 1281px) {
}

@media (min-width: 1025px) and (max-width: 1280px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

@media (min-width: 481px) and (max-width: 767px) {
}

@media (min-width: 320px) and (max-width: 480px) {
  .www-frontend-wrapper {
    flex-direction: column;
    .www-frontend-cell {
      //pass
    }
  }
}
