.www_comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  max-width: 790px;
  gap: 30px;
}
.www_comment-content {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border);
}
