@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
  &:after {
    position: absolute;
    content: '';
    top: -10px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 105%;
    width: 100%;
    margin: 0 auto;
    transform: scale(1);
    -moz-filter: blur(5vw);
    -ms-filter: blur(5vw);
    filter: blur(0.35vw);
    background: linear-gradient(302deg, #ffffff, #ffffff);
    background-size: 110% 110%;
    animation: TechField_animateGlow__EphVc 10s ease infinite;
    @keyframes animateGlow {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
}

.www-techField {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #000;
  padding: 20px;
  border-radius: var(--radius-md);
  .techField-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
    flex: 0 0 100%;
    gap: 6px;
    padding: 6px 0;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;

    // > * {
    //   padding: 8px;
    //   width: 100%;
    // }

    &.column-1 > div {
      flex-basis: 100%;
    }

    &.column-2 > div {
      // flex-basis: calc(50% - 16px);
      width: calc(100% / 2 - 6px);
    }

    &.column-3 > div {
      // flex-basis: calc(33.33% - 16px);
      width: calc(100% / 3 - 6px);
    }

    &.column-4 > div {
      // flex-basis: calc(25% - 16px);
      width: calc(100% / 4 - 6px);
    }

    &.column-5 > div {
      // flex-basis: calc(20% - 16px);
      width: calc(100% / 5 - 6px);
    }

    &.column-6 > div {
      // flex-basis: calc(16.6667% - 16px);
      width: calc(100% / 6 - 6px);
    }
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline;
  }
}

@media (min-width: 1281px) {
  .www-techField {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
    border-radius: var(--radius-md);
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .www-techField {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
    border-radius: var(--radius-md);
    .techField-wrapper {
      &.column-1 > div {
        flex-basis: 100%;
      }

      &.column-2 > div {
        width: calc(100% / 2);
      }

      &.column-3 > div {
        width: calc(100% / 3);
      }

      &.column-4 > div {
        width: calc(100% / 2);
      }

      &.column-5 > div {
        width: calc(100% / 5);
      }

      &.column-6 > div {
        width: calc(100% / 6);
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .www-techField {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
    border-radius: var(--radius-md);
    .techField-wrapper {
      &.column-1 > div {
        flex-basis: 100%;
      }

      &.column-2 > div {
        width: calc(100% / 2);
      }

      &.column-3 > div {
        width: calc(100% / 3);
      }

      &.column-4 > div {
        width: calc(100% / 2);
      }

      &.column-5 > div {
        width: calc(100% / 5);
      }

      &.column-6 > div {
        width: calc(100% / 6);
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .www-techField {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
    border-radius: var(--radius-md);
    &.two {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    &.three {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    &.four {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .www-techField {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 10px;
    border-radius: var(--radius-md);
    .techField-wrapper {
      &.column-1 > div {
        flex-basis: 100%;
      }

      &.column-2 > div {
        width: calc(100% / 2);
      }

      &.column-3 > div {
        width: calc(100% / 3);
      }

      &.column-4 > div {
        width: calc(100% / 2);
      }

      &.column-5 > div {
        width: calc(100% / 5);
      }

      &.column-6 > div {
        width: calc(100% / 6);
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .www-techField {
    padding: 10px;
    border-radius: var(--radius-md);
    .techField-wrapper {
      &.column-1 > div {
        flex-basis: 100%;
      }

      &.column-2 > div {
        width: calc(100% / 2 - 6px);
      }

      &.column-3 > div {
        width: calc(100% / 3 - 6px);
      }

      &.column-4 > div {
        width: calc(100% / 2 - 6px);
      }

      &.column-5 > div {
        width: calc(100% / 5 - 6px);
      }

      &.column-6 > div {
        width: calc(100% / 6 - 6px);
      }
    }
  }
}
