.www_infinite-wrapper {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // margin-bottom: 10vh;
  counter-reset: menu;
  border-top: 0.5px solid var(--border);
  border-bottom: 0.5px solid var(--border);
}
